@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.menu {
    @include margin(1.5, 1, 1, 0);
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes fade {
        from {color: $typographic-base-font-color;}
        to {color: $color-primary;}
    }
    
    /* Standard syntax */
    @keyframes fade {
        from {color: $typographic-base-font-color;}
        to {color: $color-primary;}
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        &-item {
            @include margin(0, 0, 0.2, 0);
            display: list-item;
            letter-spacing: 0.1em;
            padding: 0;
            &-link {
                font-size: $typographic-base-font-size;
                color: $typographic-base-font-color;
                font-weight: 350;
                border: 0;
                &:hover,
                &:focus {
                    color: $color-primary;
                    -webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
                    -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
                    animation-name: fade;
                    animation-duration: 0.7s;
                }
                &--active {
                    color: $color-primary;
                }
            }
        }
    }
}
